body{
background-image:  ("londonbus.JPG");
background-color: rgb(75, 75, 73);
}
h1,h2, h3,p, li, form {
      text-align: center;
      margin: auto;
     color: antiquewhite;
     padding: 0.5rem;
}
img {
      padding: 40;
      align-items: center;
      
}
footer {
      align-items: center;
}